<header id="gh-navigation" class="gh-navigation is-left-logo gh-outer">
    <div class="gh-navigation-inner gh-inner">

        <div class="gh-navigation-brand">
            <a class="gh-navigation-logo is-title" href="{{@site.url}}">
                {{@site.title}}
            </a>
        </div>

        <div class="gh-navigation-actions">
           {{> "search-toggle"}}
        </div>

    </div>
    <hr>
</header>
